*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android build
/app/build/
/build/
*.apk
*.ap_
*.aab
*.dex
/app/release/
/app/debug/
.gradle
